@font-face {
  font-family: "Acre";
  src: url("/fonts/Acre-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acre";
  src: url("/fonts/Acre-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}