@use "./variables" as *;

/* Logo */
.logo {
  font-family: $font-logo;
  font-weight: $fw-black;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-family: $font-heading;
  font-weight: $fw-medium;
}

h1 { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }
h4 { font-size: $fs-h4; }
h5 { font-size: $fs-h5; }

/* Body */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $color-secondary;
}

body {
  font-family: $font-body;
  font-weight: $fw-regular;
  font-size: $fs-body;
  background: $color-white;
}